<div>
  <el-row>
    <el-col :span="24">
      <el-breadcrumb class="margin_b" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        <el-breadcrumb-item>角色列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <el-button
  type="success"
  plain
  class="margin_b"
  @click="dialogFormVisible = true">添加角色</el-button>
  <el-table
    :data="fromData"
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
          <el-row v-for="level1 in scope.row.children" :key="level1.id" class="margin_border margin_b">
            <el-col :span="3">
              <el-tag
                closable
                type="">
                {{ level1.authName }}
              </el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="21">
              <el-row v-for="level2 in level1.children" :key="level2.id">
                <el-col :span="3">
                  <el-tag
                    closable
                    type="success">
                    {{ level2.authName }}
                  </el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="21">
                  <el-tag
                    v-for="level3 in level2.children"
                    class="margin_right col_b"
                    closable
                    :key="level3.id"
                    type="warning">
                    {{ level3.authName }}
                  </el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
      </template>
    </el-table-column>
    <el-table-column
      label="#"
      type="index"
      prop="id">
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="描述"
      prop="roleDesc">
    </el-table-column>
    <el-table-column
      label="操作"
      width="200">
      <template slot-scope="scope">
        <el-button size="mini" type="primary" icon="el-icon-edit" @click="showEditRoleUser(scope.row)"></el-button>
        <el-button size="mini" type="success" icon="el-icon-check" @click="showEditRightsRole(scope.row)"></el-button>
        <el-button size="mini" type="danger" icon="el-icon-delete" @click="handleRemoveRoleUser(scope.row)"></el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- 添加角色 -->
  <el-dialog title="添加角色" :visible.sync="dialogFormVisible">
    <el-form
    :model="roleForm"
    :rules="addRolesFormRules"
    ref="addRolesForm">
      <el-form-item label="角色名称" label-width="120px" prop="roleName">
        <el-input v-model="roleForm.roleName" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" label-width="120px" prop="roleDesc">
        <el-input v-model="roleForm.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAddRoleUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 编辑角色 -->
  <el-dialog title="编辑角色" :visible.sync="dialogEditFormVisible">
    <el-form
    :model="editRoleForm"
    :rules="addRolesFormRules"
    ref="addRolesForm">
      <el-form-item label="角色名称" label-width="120px" prop="roleName">
        <el-input v-model="editRoleForm.roleName" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" label-width="120px" prop="roleDesc">
        <el-input v-model="editRoleForm.roleDesc" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRoleUser">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 角色授权 -->
  <el-dialog title="角色授权" :visible.sync="dialogEditRoles">
    <el-form
      :model="rightsRole">
      <el-tree
        :data="treeData"
        :props="treeProps"
        show-checkbox
        ref="rightsTree"
        default-expand-all
        node-key="id"
        :default-checked-keys="treeCheckedKeys">
      </el-tree>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogEditRoles = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRihgts">确 定</el-button>
    </div>
  </el-dialog>
</div>