<div>
  <el-row>
    <el-col :span="24">
      <el-breadcrumb class="user-list-breadcrumb margin_b" separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>商品管理</el-breadcrumb-item>
        <el-breadcrumb-item>商品列表</el-breadcrumb-item>
      </el-breadcrumb>
    </el-col>
  </el-row>
  <el-row class="user-list-search">
    <el-col :span="8">
      <el-input placeholder="请输入内容" class="input-with-select">
        <el-button slot="append" icon="el-icon-search"></el-button>
      </el-input>
    </el-col>
    <el-col :span="2">
      <el-button
      type="success"
      plain>添加商品</el-button>
    </el-col>
  </el-row>
  <el-table
    :data="productData"
    style="width: 100%">
    <el-table-column
      type="index"
      label="#"
      width="40">
    </el-table-column>
    <el-table-column
      prop="goods_name"
      label="商品名称"
      width="350">
    </el-table-column>
    <el-table-column
      prop="goods_price"
      label="商品价格"
      width="150">
    </el-table-column>
    <el-table-column
      prop="goods_state"
      label="商品状态"
      width="150">
    </el-table-column>
    <el-table-column
      prop="goods_weight"
      label="商品重量"
      width="150">
    </el-table-column>
    <el-table-column
      prop="add_time"
      label="商品时间"
      width="150">
    </el-table-column>
    <el-table-column
      label="操作"
      width="280">
      <template slot-scope="scope">
        <el-button size="mini" type="primary" icon="el-icon-edit"></el-button>
        <el-button size="mini" type="success" icon="el-icon-check"></el-button>
        <el-button size="mini" type="danger" icon="el-icon-delete"></el-button>
      </template>
    </el-table-column>
  </el-table>
</div>